<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Taxi Fare Api</title>

        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />

    </head>

    <body class="body">
        <div class="header">
            <p class="title" >
                <a href="/" >Taxi Fare API</a>
            </p>
        	<p class="summary">At Taxi For Sure, we have a need to provide a very dynamic, stable and a centralized service for Fares.</p>
        </div>
        <div class="content">
        	{% block content %}{% endblock %}
        </div>
    </body>
</html>

